.native-map {
  #map-native-canvas {
      height: 100%;
      width: 100%;
  }
  background-color: transparent !important;
}
ion-app._gmaps_cdv_ .nav-decor{
  background-color: transparent !important;
}
