<ion-header>
  <ion-navbar primary>
    <ion-title>Account</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
              <form  #loginCreds="ngForm" *ngIf="!loggedIn">
              <ion-item>
                  <ion-label floating>Email</ion-label>
                  <ion-input type="text" ngControl="email"></ion-input>
              </ion-item>
              <ion-item>
                  <ion-label floating>Password</ion-label>
                  <ion-input type="password" ngControl="password"></ion-input>
              </ion-item>
              <div padding>
                  <button block (click)="login(loginCreds.value)">Login</button>
                  <button block (click)="signup(loginCreds.value)">Sign Up</button>
              </div>
              </form>
              <div padding>
                  <button block *ngIf="loggedIn"(click)="logout()">Logout</button>
                  <button block *ngIf="!facebookLoggedIn"id="facebookbtn"(click)="facebookLoginNative()"><ion-icon name="logo-facebook"></ion-icon>Login with Facebook</button>
              </div>
</ion-content>
